
@media(min-width:768px) {
  .container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }

  /* CurrentWeatherList */
  .weatherBox {
    display: flex;
    width: 75%;
    background-color: white;
    border-style: groove;
    border-color: #e6f5ff;
    border-width: 4px;
  }

  /* CurrentWeather */
  .name {
    font-size: 1.3em;
  }

  .cityLink {
    text-decoration: none;
    color: #007acc;
  }

/* CityForecastList */
  .forecastBox {
    display: flex;
    width: 75%;
    text-align: center;
    background-color: white;
    border-style: groove;
    border-color: #e6f5ff;
    border-width: 4px;
    margin-top: 20px;
  }

  .App-header {
    height: 50px;
    padding: 20px;
    color: white;
  }
}

body {
  background-color: #4db8ff;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 2.0em;
  margin-top: 5px;
}

/* CurrentWeather */
.box {
  border: 1px #ccc solid;
  padding: 5px;
  flex: 1;
}

/* CityForecastList */
.forecastTitle {
  text-align: center;
}

/* Navbar */
.navBar {
  background-color: rgb(49, 50, 55);
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.homeButton {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 100px;
}
